/* forum.css */

body {
  background-color: #f0f4f8; /* Light background for contrast */
}

.forum-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(135deg, #eaeaea, #ffffff); /* Gradient background */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.forum-title {
  color: #333;
  margin-bottom: 20px;
}

.inputContainer {
  margin-bottom: 10px;
}

.forum-textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  border: none; /* Remove default border */
  box-shadow: inset 0px 1px 3px rgba(0,0,0,.1); /* Inner shadow */
}

.snd {
  text-align: right; /* Align button to the right */
}

.send-button {
  padding: 10px 15px;
  background-color: darkviolet;
  color: white;
  border-radius: 5px;
  border: none;
}

.send-button:hover {
  background-color: #6a1b9a; /* Darker shade on hover */
}

.taskContainer {
  margin-top: 20px;
}

.taskItem {
   background-color: #fff; /* White background for messages */
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 10px;
   box-shadow: rgba(0,0,0,.1) -1px -1px; /* Shadow effect */
   transition: transform .2s; /* Animation on hover */
}

.taskItem:hover {
   transform: translateY(-2px); /* Slight lift effect on hover */
}

.message-content {
   color: black; 
   display:flex; 
   align-items:center; 
   justify-content:start; 
   gap:.5rem; 
}

.user-name {
   font-size:.9em; 
   padding:.5rem; 
   border-radius:.5rem; 
   color:brown; 
   font-weight:bold; 
   background-color:#fef9e7; /* Light background for user name */
}

/* AI Suggestions Section */
.ai-suggestions {
    margin-top:20px;
    padding-top:10px;
    padding-bottom:10px;
    border-top:2px solid #3498db;
}

.analytics {
    margin-top:20px;
    padding-top:10px;
    padding-bottom:10px;
    border-top:2px solid #3498db;
}